body {
  background-color: rgb(255, 235, 180);
}

.search-form {
  display: flex;
  justify-content: center;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.photo-card {
  display: flex;
  flex-direction: column;
  flex-basis: calc(100% / 5);
  width: 350;
  // height: 280;
  margin: 5px;
}

img {
  display: block;
  max-width: 100%;
  overflow: hidden;
}

.info {
  background-color: rgb(250, 193, 118);
  display: flex;
  flex-grow: 1;
  padding: 5px;
}